body{
	margin: 0px;
	background: rgb(250, 250, 250);
}
.card{
	border:1px solid #cecece;
	border-radius: 10px;
	width: 50%;
	background: white;
	box-shadow: 6px 6px 6px #cecece;
	padding: 1ex;
	margin: 100px calc(25% - 2em - 2px);
}
#imagen{
	width: 50%;
	border-radius: 50%;
	height: 200px;
}
.texto{
	width: 200%;
	font-size:15px;
}
#info {
	display: inline-block;
}
#texto{
	display: inline-block;
}
